header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 25%;
    justify-content: space-evenly;
}
main {

}

@media screen {
    
}

nav > ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 25%;
    justify-content: space-evenly;
    list-style-type: none;
}

